if TARGET_SECOIMX6

choice
	prompt "SECO i.IMX6 Board variant"
	optional

config SECOIMX6_Q7
	bool "Q7"

config SECOIMX6_UQ7
	bool "uQ7"

config SECOIMX6_USBC
	bool "uSBC"

endchoice

choice
	prompt "SECO i.IMX6 SoC variant"
	optional

config SECOIMX6Q
	bool "i.IMX6Q"
	select IMX6Q

config SECOIMX6DL
	bool "i.IMX6DL"
	select IMX6DL

config SECOIMX6S
	bool "i.IMX6S"
	select IMX6S

endchoice

choice
	prompt "DDR size"

config SECOIMX6_512MB
	bool "512MB"

config SECOIMX6_1GB
	bool "1GB"

config SECOIMX6_2GB
	bool "2GB"

config SECOIMX6_4GB
	bool "4GB"

endchoice

config IMX_CONFIG
	default "board/seco/mx6quq7/mx6quq7-2g.cfg" if SECOIMX6_UQ7 && SECOIMX6Q && SECOIMX6_2GB

config SYS_BOARD
	default "mx6quq7" if SECOIMX6_UQ7 && SECOIMX6Q

config SYS_VENDOR
	default "seco"

config SYS_CONFIG_NAME
	default "secomx6quq7" if SECOIMX6_UQ7 && SECOIMX6Q

endif
